.menuContainer {
  position: fixed;
  z-index: 4;
  left: 5px;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.menuOpen {
  display: flex;
  padding: 0 var(--padding-sides);
  font-size: var(--mobile-font-size);
  gap: 8px;
  position: relative;
  z-index: 10;
  /* margin-left: -2px; */

  top: 50px;

  @media screen and (width <=768px) {
    top: 50px;
  }
}

.menuItem {
  height: fit-content;
  color: var(--title);
}

.menuFooter {
  font-size: var(--mobile-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-sides) 5px var(--padding-sides);
  position: fixed;
  bottom: var(--padding-vertical);
  left: 0;
  right: 0;
  z-index: 2;
}

.modelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  margin-top: auto;
  position: absolute;
  opacity: 0.5;
  z-index: 0;
}