.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--background);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6px var(--padding-sides) 16px var(--padding-sides);
  font-size: var(--mobile-font-size);
}

.title {
  font-size: var(--mobile-title-font-size);
  font-family: var(--youngblood);
  padding-left: 4px;
  color: var(--title);
  letter-spacing: 0.05rem;
}

.menuDiv {
  color: var(--title);
}

.star {
  font-size: var(--mobile-font-size);
}

@media screen and (width >= 600px) {
  .navbar {
    padding-bottom: 0;
  }
}