.projectPage {
  font-size: var(--mobile-small-font-size);
  padding: var(--padding-vertical) var(--padding-sides);
}

.projectPageNavbar {
  display: flex;
  gap: 3px;
  flex-direction: column;
  color: var(--title);
}

.projectPageNavButtons {
  display: flex;
  gap: 5px;
  margin-left: -2px;
  color: var(--title);
}

.backButtonDiv {
  position: fixed;
  bottom: 12px;
}

.projectPageTitleDiv {
  display: flex;
}

.projectTitle {
  color: var(--text);
  text-transform: capitalize;
  font-weight: 600;
  font-style: italic;
  font-size: var(--mobile-font-size);
}

.projectPageSplit {
  display: flex;
  justify-content: space-between;
}

.projectPageInformation {
  width: 40%;
  /* font-size: var(--mobile-tiny-font-size); */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 2.5px;
  color: var(--text);
  font-size: var(--mobile-small-font-size);
  position: fixed;
}

.extraProjectInfo {
  text-align: left;
}

.projectPageImages {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-right: 5px;
  max-width: 56%;
  padding-bottom: 10px;
}

.imageContainer {
  position: relative;
  height: auto;
  max-width: 95%;
}

.projectImage {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.infoSeparator {
  color: var(--title);
}

.projectTypes {
  color: var(--title);
}

@media screen and (width >= 768px) {
  .projectPageImages {
    max-width: 80%;
    gap: 30px;
    padding-bottom: 50px;
  }

  .imageContainer {
    width: 25%;
  }

  .projectImage {
    height: 100%;
  }

  .projectPageInformation {
    width: 18%;
  }

  .backButtonDiv {
    position: relative;
    bottom: 0;
  }
}