.projectPageSplit {
  padding: 0 var(--padding-sides);
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
}

.projectPageImages {
  display: flex;
  margin-left: auto;
  gap: 15px;
  width: 60%;
  flex-wrap: wrap;
  justify-content: right;
}

.imageContainer {
  width: auto;
  height: 120px;
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border: var(--text) 1px solid;
}

.counter {
  position: absolute;
  right: 2px;
  bottom: 2px;
  mix-blend-mode: difference;
  color: white;
}

.projectTitleDiv {
  color: var(--text);
  font-size: calc(var(--mobile-font-size) + 0.5rem);
  padding-bottom: 4px;
  text-transform: capitalize;
}

.fancyTitleDiv {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.projectTitleFancy {
  color: var(--text);
  text-transform: capitalize;
  font-size: calc(var(--title-font) + 5rem);
  font-family: var(--youngblood);
  letter-spacing: 0.09rem;
  opacity: 0.2;
}

.projectPageInformation {
  color: var(--text);
  font-size: calc(var(--mobile-font-size));
  width: 30%;
}

.projectPageNavButtons {
  padding-top: 5px;
  color: var(--title);
}

.projectPageSwapButtons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  z-index: 1000;
}

.projectPageSwapButtons button {
  color: var(--text);
  background-color: transparent;
  font-size: calc(var(--mobile-font-size) - 0.2rem);
  font-family: 'PPMont';
  /* border: var(--text) 0.8px solid;
  padding: 1px 2px; */
  border: none;
}

@media screen and (width >=768px) {
  .imageContainer {
    transition:
      transform 0.35s ease-out,
      box-shadow 0.35s ease-out;
    overflow: hidden;
    position: relative;
  }

  .counter {
    position: absolute;
    top: 5px;
    right: 5px;
    mix-blend-mode: difference;
    color: white;
  }

  .imageContainer:hover {
    transform: scale(1.0225);
    box-shadow: var(--text) 0px 10px 200px;
  }
}

@media screen and (width <=768px) {
  .projectPageInformation {
    position: fixed;
  }

  .projectPageNavbar {
    position: absolute;
    bottom: 5px;
    right: 2px;
  }

  .projectTitleDiv {
    font-size: calc(var(--mobile-font-size) + 0.4rem);
    width: 100%;
    height: fit-content;
  }

  .projectPageImages {
    display: flex;
    margin-left: auto;
    gap: 8px;
    width: 47%;
    flex-direction: column;
    flex-wrap: unset;
    padding-bottom: 20px;
  }

  .imageContainer {
    width: auto;
    height: 80px;
  }

  .projectImage {
    object-fit: cover;
  }

  .projectPageInformation {
    color: var(--text);
    font-size: calc(var(--mobile-font-size) - 0.1rem);
    width: 45%;
  }

  .projectPageSwapButtons {
    width: 45%;
    top: 50%;
    left: unset;
    transform: unset;
  }

  .projectPageSwapButtons button {
    font-size: calc(var(--mobile-font-size) - 0.2rem);
  }

  .fancyTitleDiv {
    position: fixed;
    bottom: 20px;
    left: 0px;
    transform: unset;
  }

  .projectTitleFancy {
    font-size: calc(var(--title-font) + 1rem);
    padding-bottom: 25px;
    padding-left: 15px;
  }
}