.projectPageSplit {
  padding: 0 var(--padding-sides);
  width: 100%;
  display: flex;
  gap: 0px;
  position: relative;
}

.projectPageImages {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  width: 70%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  padding-right: 2px;
  position: relative;
  z-index: 1000;
}

.imageContainer {
  width: fit-content;
  height: 420px;
  flex-shrink: 0;
  position: relative;
  z-index: 1000;
}

.imageContainerShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text);
  opacity: 0.1;
  border-radius: 10px;
  z-index: -1;
  transition: opacity 0.25s ease-out;
  box-shadow: var(--boxshadow) 0px 10px 200px;
}

.projectImage {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
  border: var(--text) 1px solid;
  border-radius: 10px;
  transition: transform 0.25s ease-out;
}

.imageContainer:hover .projectImage {
  transform: scale(0.95);
  /* box-shadow: var(--boxshadow) 0px 10px 200px; */
}

.counter {
  position: absolute;
  right: 2px;
  bottom: 2px;
  mix-blend-mode: difference;
  color: white;
}

.projectTitleDiv {
  color: var(--text);
  font-size: calc(var(--mobile-font-size) + 0.5rem);
  padding-bottom: 4px;
  text-transform: capitalize;
}

.fancyTitleDiv {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.fancyTitleDiv:hover .projectTitleFancy {
  filter: blur(5px);
}

.projectTitleFancy {
  color: var(--text);
  text-transform: capitalize;
  font-size: calc(var(--title-font) + 12rem);
  font-family: var(--youngblood);
  letter-spacing: 0.09rem;
  opacity: 0.2;
  transition: filter 0.5s ease-in-out;
}

.projectPageInformation {
  color: var(--text);
  font-size: calc(var(--mobile-font-size));
  width: 30%;
  border-right: var(--text) solid 1px;
  position: relative;
  padding-right: 10px;
}

.projectPageNavButtons {
  padding-top: 5px;
  color: var(--title);
}

.projectPageSwapButtons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  padding-right: 10px;
}

.projectPageSwapButtons button {
  color: var(--text);
  background-color: transparent;
  font-size: calc(var(--mobile-font-size) - 0.2rem);
  font-family: 'PPMont';
  /* border: var(--text) 0.8px solid;
  padding: 1px 2px; */
  border: none;
  position: relative;
  z-index: 1000;
}

.fancyTitleDivMobile {
  display: none;
}

@media screen and (width >=2000px) {

  .projectPageInformation,
  .imageContainer {
    height: 620px;
  }
}

@media screen and (width >=768px) {
  .imageContainer {
    transition:
      transform 0.35s ease-out,
      box-shadow 0.35s ease-out;
    overflow: hidden;
    position: relative;
  }

  .projectPageInformation {
    height: 420px;
  }

  .counter {
    position: absolute;
    top: 5px;
    right: 5px;
    mix-blend-mode: difference;
    color: white;
  }
}

@media screen and (width <=768px) {
  .projectPageSplit {
    flex-direction: column;
  }

  .projectPageNavbar {
    position: absolute;
    bottom: 5px;
    right: 2px;
  }

  .projectTitleDiv {
    font-size: calc(var(--mobile-font-size) + 0.4rem);
    width: 100%;
    height: fit-content;
  }

  .projectPageImages {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    overflow-x: unset;
    padding-bottom: 70px;
  }

  .imageContainer {
    width: auto;
    height: auto;
    flex-shrink: unset;

  }

  .projectImage {
    object-fit: cover;
    width: 100%;
  }

  .projectPageInformation {
    color: var(--text);
    font-size: calc(var(--mobile-font-size) - 0.1rem);
    position: relative;
    border: none;
    width: 100%;
    padding: 0;
  }

  .projectPageSwapButtons {
    width: 100%;
    position: relative;
    transform: unset;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .projectPageSwapButtons button {
    font-size: calc(var(--mobile-font-size) - 0.2rem);
  }

  .fancyTitleDiv {
    display: none;
  }

  .fancyTitleDivMobile {
    display: flex;
    position: relative;
    overflow: visible;
  }

  .projectTitleFancyMobile {
    color: var(--text);
    text-transform: capitalize;
    font-size: calc(var(--title-font) + 2rem);
    font-family: var(--youngblood);
    letter-spacing: 0.09rem;
    opacity: 0.2;
    overflow: visible;
    padding: 0 20px 0 5px;
  }

  .projectTitleFancy {
    font-size: calc(var(--title-font) + 1rem);
    padding-bottom: 25px;
    padding-left: 15px;
  }

}