.projectPage {
  font-size: var(--mobile-small-font-size);
  padding: 0 var(--padding-sides);
}

.projectPageNavbar {
  display: flex;
  gap: 3px;
  flex-direction: column;
  color: var(--title);
  padding-left: 3px;
}

.projectPageNavButtons {
  display: flex;
  gap: 5px;
  /* margin-left: -2px; */
  color: var(--title);
}

.backButtonDiv {
  position: fixed;
  bottom: 12px;
}

.projectPageTitleDiv {
  display: flex;
}

.projectTitle {
  color: var(--title);
  text-transform: capitalize;
  font-size: var(--title-font);
  font-family: var(--youngblood);
  letter-spacing: 0.09rem;
}

.projectPageSplit {
  display: flex;
  justify-content: space-between;
}

.projectPageInformation {
  width: 40%;
  /* font-size: var(--mobile-tiny-font-size); */
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* padding-left: 2.5px; */
  color: var(--text);
  font-size: var(--mobile-small-font-size);
  position: fixed;
}

.extraProjectInfo {
  text-align: left;
}

.projectPageImages {
  position: absolute;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-right: 5px;
  max-width: 56%;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.imageContainer {
  position: relative;
  height: auto;
  max-width: 85%;
}

.projectImage {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* border-radius: 6px;
  border: 1px solid var(--title); */
}

.infoSeparator {
  color: var(--title);
}

.projectTypes {
  color: var(--title);
}

@media screen and (width >=768px) {
  .projectPageImages {
    max-width: 78%;
    gap: 30px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 35px;
  }

  .projectPageImages {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .projectImage {
    height: 150px;
    transition:
      transform 0.35s ease-out,
      box-shadow 0.35s ease-out;
  }

  .projectImage:hover {
    transform: scale(1.0225);
    box-shadow: var(--text) 0px 10px 200px;
    position: relative;
    z-index: 1000;
  }

  .projectPageInformation {
    width: 18%;
    margin-left: 0px;
  }

  .backButtonDiv {
    position: relative;
    bottom: 0;
  }

  .projectImage {
    object-fit: contain;
  }
}

@media screen and (width >=900px) {
  .projectPageImages {
    direction: rtl;
  }
}

@media screen and (width <=768px) {
  .projectImage {
    border-radius: 1px;
  }
}