.projectNavMainContainer {
  display: flex;
  flex-direction: column;
}

.projectNav {
  padding: 5px var(--padding-sides) 0 var(--padding-sides);
  display: flex;
  flex-direction: column;
  color: var(--blue);
  font-size: var(--mobile-font-size);
  width: fit-content;
}

.lastUpdatedDiv {
  position: absolute;
  bottom: var(--padding-vertical);
}

.lastUpdatedText {
   font-size: var(--mobile-small-font-size);
   padding: 0 var(--padding-sides) 0 var(--padding-sides);
   color: var(--blue);
}