.projectNavMainContainer {
  display: flex;
  flex-direction: column;
}

.projectNav {
  padding: 4px var(--padding-sides) 0 var(--padding-sides);
  display: flex;
  flex-direction: column;
  color: var(--blue);
  font-size: var(--mobile-font-size);
  width: fit-content;
}

.lastUpdatedDiv {
  position: absolute;
  bottom: var(--padding-vertical);
}