:root {
    --text: #1039cb;
    --background: #f1f1f1;
    --title: #111111;
    --cursor: #E1B826;
}

[data-theme='red'] {
    --text: #eb1d1d;
    --background: #f1f1f1;
    --title: #111111;
    --cursor: #06D4D4;
}

[data-theme='black'] {
    --text: #f1f1f1;
    --background: #111111;
    --title: #acacac;
    --cursor: #f1f1f1;
}

[data-theme='blue'] {
    --text: #1039cb;
    --background: #f1f1f1;
    --title: #111111;
    --cursor: #E1B826;
}

.themeButtons {
    display: flex;
    align-items: center;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    color: var(--title);
}