:root {
  --mobile-font-size: 0.9rem;
  --mobile-small-font-size: 0.8rem;
  --mobile-tiny-font-size: 0.6rem;
  --mobile-title-font-size: 2.5rem;
  --padding-sides: 1rem;
  --padding-vertical: 0.55rem;
  --container-width: 45%;
  --blue: #1039cb;
  --white: #f1f1f1;
  --youngblood: "youngblood", sans-serif;
  --symbols: "rufina-stencil-ornaments", sans-serif;
  --transitionDetails: 
      transform 0.1s ease-out,
      border-radius 0.4s ease-out,
      height 0.4s ease-out,
      width 0.4s ease-out,
      background-color 0.4s ease-out,
      opacity 1s ease-out,
      -webkit-transform 0.1s ease-out;
}

@media screen and (width <= 1600px) {
   :root {
      --mobile-font-size: 0.75rem;
      --mobile-small-font-size: 0.65rem;
      --mobile-tiny-font-size: 0.55rem;
      --mobile-title-font-size: 2.5rem;
      --padding-sides: 0.9rem;
      --padding-vertical: 0.5rem;
      --container-width: 35%;
   }
}

@media screen and (width <= 760px) {
  :root {
    --mobile-font-size: 0.65rem;
    --mobile-small-font-size: 0.55rem;
    --mobile-tiny-font-size: 0.45rem;
    --mobile-title-font-size: 2.5rem;
    --padding-sides: 0.8rem;
    --padding-vertical: 0.45rem;
    --container-width: 70%;
  }

  #cursor-container,
  #custom-cursor,
  #custom-pointer {
   display: none;
  }
}

*::-webkit-scrollbar {
  display: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  mix-blend-mode: difference;

  -webkit-transition: visibility 3s ease-out, opacity 3s ease-out;
  -o-transition: visibility 3s ease-out, opacity 3s ease-out;
  transition: visibility 3s ease-out, opacity 3s ease-out;
}

#custom-cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: solid 1px white;
  z-index: 999;
  visibility: hidden;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  -webkit-transition: var(--transitionDetails);
  transition: var(--transitionDetails);
  -o-transition: var(--transitionDetails);
  transition: var(--transitionDetails);
}

#custom-pointer {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: white;
  z-index: 1000;
  opacity: 1;
  mix-blend-mode: difference;
 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  transition: border-radius 0.4s ease-out, opacity 0.3s ease-out, height 0.4s ease-out, width 0.4s ease-out;
  -o-transition: border-radius 0.4s ease-out, opacity 0.3s ease-out, height 0.4s ease-out, width 0.4s ease-out;
}

#custom-cursor.hovering {
  height: 9px;
  width: 9px;
}

#custom-pointer.hovering {
  height: 8px;
  width: 8px;
}

#custom-cursor.hidden {
  height: 0px;
  width: 0px;
  visibility: hidden;
  opacity: 0;
}

#custom-cursor.visible,
#cursor-container.visible {
  visibility: visible;
  opacity: 1;
}

body {
  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
  cursor: none;
  height: 100dvh;
}

a {
  all: unset;
}

.link {
  transition: filter 0.16s ease-out;
}

.link:hover {
  filter: drop-shadow(0px 0px 0.4rem var(--blue));
}

#lightbox {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  width: auto;
}

.lightbox-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.prev-button,
.next-button,
.close-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.close-button {
  top: 10px;
  right: 10px;
}