:root {
  --mobile-font-size: 0.75rem;
  --mobile-price-font-size: 0.65rem;
  --mobile-tiny-font-size: 0.5rem;
  --mobile-title-font-size: 0.95rem;
  --padding-sides: 0.8rem;
  --padding-vertical: 0.45rem;
  --container-width: 85%;
  --blue: #1039cb;
  --white: #f1f1f1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
  background-color: var(--white);
}

a {
  all: unset;
}

/* NAVBAR SECTION */
.navbar {
   position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px var(--padding-sides); /*top, bottom = 10 & left, right = variable*/
  font-size: var(--mobile-font-size);
}

.title {
  font-size: var(--mobile-title-font-size);
  cursor: pointer;
}

.star {
  font-size: var(--mobile-tiny-font-size);
}

.menuButton {
  cursor: pointer;
}

/* PROJECT NAV SECTION */
.projectNav {
  padding: var(--padding-vertical) var(--padding-sides) 0 var(--padding-sides);
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--blue);
  font-size: var(--mobile-font-size);
}

.projectNavItem {
  cursor: pointer;
}

/* OPEN MENU SECTION */
.menuOpen {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  padding: var(--padding-vertical) var(--padding-sides);
  font-size: var(--mobile-font-size);
  gap: 8px;
  z-index: 2;
  background-color: var(--white);
  height: 100%;
}

.menuItem,
.themeItem {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.menuInactive {
  opacity: 0.3;
}

.menuFooter {
  font-size: var(--mobile-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-sides) 5px var(--padding-sides);
  position: fixed;
  bottom: var(--padding-vertical);
  left: 0;
  right: 0;
  z-index: 2;
}

.themeButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* SERVICES SECTION */
.servicesContainer {
  padding: var(--padding-vertical) var(--padding-sides);
  font-size: var(--mobile-font-size);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.serviceTitle {
  padding-bottom: 3px;
}

.serviceDescription {
  color: var(--blue);
  width: var(--container-width);
  text-align: justify;
}

.servicePrice {
  color: var(--blue);
  padding: var(--padding-vertical) 0;
  font-size: var(--mobile-price-font-size);
}

.aud {
  font-size: var(--mobile-tiny-font-size);
}

/* ABOUT SECTION */
.aboutContainer {
  padding: var(--padding-vertical) var(--padding-sides);
  font-size: var(--mobile-font-size);
  color: var(--blue);
  width: var(--container-width);
  text-align: justify;
}

/* PROJECT PAGE SECTION */
.projectPageNavbar {
  font-size: var(--mobile-font-size);
  padding: var(--padding-vertical) var(--padding-sides);
  display: flex;
  gap: 8px;
}

.projectTitle {
  color: var(--blue);
}
