:root {
  --mobile-font-size: 0.75rem;
  --mobile-price-font-size: 0.65rem;
  --mobile-tiny-font-size: 0.5rem;
  --mobile-title-font-size: 0.95rem;
  --padding-sides: 0.8rem;
  --padding-vertical: 0.45rem;
  --container-width: 85%;
  --blue: #1039cb;
  --white: #f1f1f1;
}

@import url("https://use.typekit.net/oxd7kuk.css");

*::-webkit-scrollbar {
  display: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  background-color: var(--white);
}

a {
  all: unset;
}

.link {
   cursor: pointer;
}